.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.weatherCard {
  display: flex;
  justify-content: center;
}

#inputCity {
  border-radius: 25px;
  border: 2px solid #609;
  font-size: 20px;
  padding: 20px;
  width: 400px;
  height: 15px;
}

.searchBtn {
  margin-left: 1rem;
  width: 140px;
}
